<div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                        <li class="active">
                            <a href="/" class="nav-link text-left">Home</a>
                        </li>
                        <li>
                            <a href="categories.html" class="nav-link text-left">Categories</a>
                        </li>
                        <li>
                            <a href="categories.html" class="nav-link text-left">Politics</a>
                        </li>
                        <li>
                            <a href="categories.html" class="nav-link text-left">Business</a>
                        </li>
                        <li>
                            <a href="categories.html" class="nav-link text-left">Health</a>
                        </li>
                        <li><a href="categories.html" class="nav-link text-left">Design</a></li>

                        <%  if(!isLogin){ %>
                        <li>
                            <a href="/auth/login" class="nav-link text-left">Login</a>
                        </li>
                        <li><a href="/auth/signup" class="nav-link text-left">Sign Up</a></li>

                        <% }else{ %>
                        <li>
                            <a href="/auth/logout" class="nav-link text-left">Logout</a>
                        </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>