<%- include('../../partials/head.ejs'); %>

<div class="site-section bg-light h-100">
    <div class="container">
        <div class="row">
            <h2 class="display-4">Create Profile</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt vitae possimus porro optio autem qui aliquam perspiciatis quidem aliquid non harum, quam, nostrum quos saepe doloribus velit laborum! Nam, totam!
            </p>
        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs'); %>


